* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: rgb(97, 97, 187);

}

main {
    background-color: rgb(70, 114, 153);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.212)
}